.slice {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
}

.slice:first-child {
  transform: rotate(15deg) skewY(-22.5deg);
}

.slice-contents {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background-color: lightblue;
}
.slice:first-child .slice-contents {
  transform: skewY(22.5deg); /* unskew slice contents */
}

.pie_chart {
  position: relative;
  border: dashed 1px;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
